<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Sk\CustomerExtend\Api\RuleRepositoryInterface"
                type="Sk\CustomerExtend\Model\RuleRepository"/>

    <type name="Magento\QuoteGraphQl\Model\Resolver\AddProductsToCart">
        <plugin name="sk_customerextend_validate_add_products_to_cart"
                type="Sk\CustomerExtend\Plugin\QuoteGraphQl\AddProductsToCartPlugin"
                sortOrder="100"/>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="sk_customerextend_set_min_qty" xsi:type="object">
                    Sk\CustomerExtend\Console\Command\SetMinimumQtyCommand
                </item>
                <item name="sk_customerextend_delete_min_qty" xsi:type="object">
                    Sk\CustomerExtend\Console\Command\DeleteMinimumQtyCommand
                </item>
            </argument>
        </arguments>
    </type>
</config>
